/* HEADER/NAVBBAR */
/* main footer{
    position: fixed;
    min-width: 300px;
    max-width: 900px;
    flex-direction: row
 */

 .backgrond-black {
    background-color: black !important;
    
}
@media (max-width: 768px) { /* Para telas menores que 768px */

    html, body {
        margin: 0;
        padding: 10px; 
        height: 100%;
        flex-direction: row;
        
  
    }
}

@media (max-width: 480px) { /* Para telas menores que 480px (celulares bem pequenos) */
    html, body {
        margin: 0;
        padding: 0px; 
        height: 100%;
        
        flex-direction: row;
    }

}

/* HEADER */
.navbar-brand{
    font-size:24px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    height: 100px;
    z-index: 1000;
  
   
}

.navbar-brand img{
    width: 80px;
    height: 80px;
}
.button-navbar{
    display: flex;
    margin-left: auto;
    gap: 10px; /* Espaçamento entre os botões */
    padding: 10px;
    
}

 button.login-button{
    background-color: rgb(144, 33, 6) !important ;
    color:white;
    font-size: 14px;
    padding: 5px 5px ;
    border-radius: 50px;
    text-decoration: none;
    transition:0.3s background-color !important; 
    margin-right: 20px;
    border:none;
    
    
}
 
button.login-button:hover{
    background-color: rgb(211, 35, 11) !important ;
}

@media (max-width: 991.98px) {
    .button-navbar {
        flex-direction: row; 
        gap: 5px; 
        margin-left: 0; 
        width: 80%; 
        
        justify-content: flex-end;
    }

    .login-button {
     background-color: rgb(144, 33, 6) !important ;
    color:white;
    font-size: 14px;
    padding: 5px 5px ;
    border-radius: 50px;
    text-decoration: none;
    transition:0.3s background-color !important; 
    border:none;
    }
}


@media (max-width: 767.98px) {
    .button-navbar {
        flex-direction: row; 
        gap: 10px; 
        justify-content: flex-end;
        width: 75%;
    }

    .login-button {
        background-color: rgb(144, 33, 6) !important ;
        color:white;
        font-size: 14px;
        padding: 5px 5px ;
        border-radius: 50px;
        text-decoration: none;
        transition:0.3s background-color !important; 
        border:none;
        
    }
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
    color:#ffffff;
    
   

}

.navbar-toggler:focus, .btn-close:focus{
    outline: none;
    box-sizing: none;
    
    
}

.nav-link{
    color: rgb(255, 255, 255);
    font-weight: 500;
    
}

.nav-link:hover, .nav-link:active{
    color: #eeeeee;
} 

@media (min-width:991px){
    .nav-link::before{
        content:"";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        visibility: hidden;
        transition: 0.3 ease-in-out;
    }
   }

.nav-link:hover::before, .nav-link.active::before{
    visibility: visible;
}

/* MODAL */
.modal-header{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;

}
.modal-body{
    background-color: rgb(144, 33, 6);
    justify-content: center;
    align-items: center;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
   
   
    
   
   
   
}
.modal-footer{
    background-color: rgb(0, 0, 0) !important;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-size: 16px;
}



/* LOGIN */
.form-container {
    text-align: center;
    margin-top: 20px;
}
.form-container p {
    text-align: center;
    font-weight: 500;

}

.form-vermelho  input{
    border-radius: 100px;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    background-color: white;

}

.link-recuperar-senha a {
    color: white;
    font-size: 15px;
    text-decoration: underline;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid white; /* Cor da linha */
    margin: 10px;
}



/* INTRODUÇÃO -> IMAGEM DE FUNDO */

.conteiner-intro{
    background: url('../img/fundopizza.png') center/cover no-repeat;
    color: white;
    text-align: left;
    padding: 80px 20px;
    margin-top: 100px;
    justify-content: center !important;
    align-items: center !important;
   width: 100vh ;
    height: 100% !important;
}
    
    

.btn-custom  {
    background-color: #f47a00 !important ;
    color: white !important;
    font-weight: bold;  
    border-radius: 90px !important;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
     display: inline-block;
}


/* SOBRE NÓS */
.sobre-nos {
    background-color: rgb(142, 8, 8);
    color: rgb(255, 255, 255);
    padding:  8px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
  border-radius: 20px;
}
   


.sobre-nos .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 5px;
    padding: 5px;


}

.sobre-nos img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

/* CARDÁPIO  */
.cardapio-intro{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    
}

.cardapio-intro .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
   
}
.col-8{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cardapio-intro img {
    width: 70px;
    height: 70px;
    justify-content: center;
    justify-items: center;
}

.pizza-oculos img{
    width: 50%;
    height: 50%;
}

.button-cardapio{
    background-color: rgb(142, 8, 8);
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 28, 28, 0.5);
    transition: 0.3s;
  
    flex-grow: 1;
    min-width: 120px;
    max-width: 200px;
    min-height: 120px;
    max-height: 200px;  
    transition: 0.3s;

    
}
 .button-cardapio:hover{
    background-color: rgb(183, 1, 1);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 28, 28, 0.5);
    transition: 0.3s;
 }



 /* FOOTER/RODAPÉ */


 
  
 .footer-conteiner {
    background-color: rgb(50, 48, 48);
    color: rgb(255, 255, 255);
    padding: 20px 0px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 100%;
    bottom: 0;
 

 }

.logo-grande {
    width: 200px;
    height: 200px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    gap: 50px;
}

.redes-sociais .midia {
    gap: 40px;
    
   
    
}

.redes-sociais .midia img {
    height: 40px;
    width: 40px;
}



  /* PÁGINA CONTATO */

  .contato-banner {
    background: url('../img/fundo contato.png') center center / cover no-repeat;
    color: white;
    text-align: center;
    padding: 80px 20px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 10px !important;

   
}



  .form-contato{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(144, 33, 6);
    padding: 15px 15px ;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    
    
  }



  .button-black{
    background-color: #000000 ;
    color: white ;
    font-weight: bold;  
    border-radius: 90px ;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-weight: 500;
    
   
}
  
.center-button {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-button a {
    text-decoration: none;
    color: #eeeeee;
    
}

/* PÁGINA CADASTRO */

.title h1{
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    justify-items: center;
    text-align: center;
    

}

.form-vermelho-cadastro{
    margin-top: 20%;
    justify-content: center;
    align-items: center;
    background-color: rgb(144, 33, 6);
    padding: 15px 15px ;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    margin: 10px;
    margin-right: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgb(191,0, 0);
}

.form-vermelho-cadastro label{

    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
  
}




/* AVALIAÇÃO CLIENTE */
.backgrond-vermelho{
    background-color: rgb(135, 35, 35);

   

}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-self:left;
    margin-left: 20px;
    
}

.stars input {
    display: none;
}

.stars label {
    font-size: 40px;
    color: rgb(184, 179, 179);
    cursor: pointer;
}

.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label {
    color: gold;
}

.avalicao-estrelas{
    margin-top: 20%;
    margin-left: 0;
}

.avalicao-estrelas h1{
    color: #2c2c2c;
    text-align: center;
    margin-top: 120px;
   

}

.form-group-avaliacao{
    flex-direction: column;
    display: flex;
    margin: 20px;

}

.label-comentario{
    margin-top: 5px;
    flex-direction: column;
    color: #eeeeee;



}

/* PAGAMENTO */
.pagamento-body{
    background-color: #991C08 ;
    }
    
    .pagamento-conteiner{
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin: 20px auto;
    margin-top: 100px;
    }
    
    .pagamento-conteiner h3{
        text-decoration: underline black;
        color: #000000;
        font-size: 165%;
        font-weight: 700;


    }

    .conteiner-valor {
        background-color: #959595;
        color: #000000;
        font-weight: 600;
        padding: 10px;
        font-size: 20px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        border-radius: 20px;
    }
    
    .corpreta{
        color: black;
    }
    
    /* FORMULARIOS */
    .opções{
        display: flex;
        justify-content:space-around;
        gap: 15px;
    }
    
    /* BOTÃO DE COPIA E COLA */
    .btn-info{
        border-radius: 20px;
        color:white;
        text-decoration: none;
        border:none;
    }
    
 

    /* BOTÃO DE AVANÇAR */
    .button-laranja{
        background-color: #F77F00;
        border: none;
        font-weight: bolder;
        padding: 20px;
        border-radius:30px;
        width: 200px;
        margin-top: 20px;
        right: 20px;
        
      
    
    }
    .button-laranja:hover{
        background-color:#000000;
        color: white;
    }
    .qrcode img {
        background: white;
        padding: 10px;
        display: inline-block;
        height: 200px;
        width: 200px;

       
    }
    
    /* PARTE DOS CODIGO DO QRCODE */
    .pix-chave{
        font-size: 20px;
        margin-top: 10px;
    }
    
 
    
    
    
    