body {
    background-color: #991C08;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 768px) {
    /* Para telas menores que 768px */

    html,
    body {
        margin: 0;
        padding: 10px;
        height: 100%;
        flex-direction: row;


    }
}

@media (max-width: 480px) {

    /* Para telas menores que 480px (celulares bem pequenos) */
    html,
    body {
        margin: 0;
        padding: 0px;
        height: 100%;

        flex-direction: row;
    }

}

/* HEADER */
.navbar-brand {
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    height: 100px;
    z-index: 1000;


}

.navbar-brand img {
    width: 80px;
    height: 80px;
}

.button-navbar {
    display: flex;
    margin-left: auto;
    gap: 10px;
    /* Espaçamento entre os botões */
    padding: 10px;

}

button.login-button {
    background-color: rgb(144, 33, 6) !important;
    color: white;
    font-size: 14px;
    padding: 5px 5px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color !important;
    margin-right: 20px;
    border: none;


}

button.login-button:hover {
    background-color: rgb(211, 35, 11) !important;
}

@media (max-width: 991.98px) {
    .button-navbar {
        flex-direction: row;
        gap: 5px;
        margin-left: 0;
        width: 80%;

        justify-content: flex-end;
    }

    .login-button {
        background-color: rgb(144, 33, 6) !important;
        color: white;
        font-size: 14px;
        padding: 5px 5px;
        border-radius: 50px;
        text-decoration: none;
        transition: 0.3s background-color !important;
        border: none;
    }
}


@media (max-width: 767.98px) {
    .button-navbar {
        flex-direction: row;
        gap: 10px;
        justify-content: flex-end;
        width: 75%;
    }

    .login-button {
        background-color: rgb(144, 33, 6) !important;
        color: white;
        font-size: 14px;
        padding: 5px 5px;
        border-radius: 50px;
        text-decoration: none;
        transition: 0.3s background-color !important;
        border: none;

    }
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
    color: #ffffff;



}

.navbar-toggler:focus,
.btn-close:focus {
    outline: none;
    box-sizing: none;


}

.nav-link {
    color: rgb(255, 255, 255);
    font-weight: 500;

}

.nav-link:hover,
.nav-link:active {
    color: #eeeeee;
}

@media (min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        visibility: hidden;
        transition: 0.3 ease-in-out;
    }
}

.nav-link:hover::before,
.nav-link.active::before {
    visibility: visible;
}

/* MODAL */
.modal-header {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;

}

.modal-body {
    background-color: rgb(144, 33, 6);
    justify-content: center;
    align-items: center;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;






}

.modal-footer {
    background-color: rgb(0, 0, 0) !important;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-size: 16px;
}



/* LOGIN */
.form-container {
    text-align: center;
    margin-top: 20px;
}

.form-container p {
    text-align: center;
    font-weight: 500;

}

.form-vermelho input {
    border-radius: 100px;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    background-color: white;

}

.link-recuperar-senha a {
    color: white;
    font-size: 15px;
    text-decoration: underline;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid white;
    /* Cor da linha */
    margin: 10px;
}

.container {
    padding: 20px;
    border-radius: 15px;
}

.texto {
    background-color: #090909;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 140px
}

.p1 {
    border-radius: 20px;
    background-color: white;
    color: #000000;
    padding: 5px;
    text-align: center;
}

.p2 {
    text-align: center;
}

.box {
    background-color: #F77F00;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.tag {
    background-color: #991C08;
    border-radius: 15px;
    padding: 5px 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.borda {
    background-color: #991C08;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
}

.preço {
    text-align: right;
    font-weight: bold;
}

.total {
    background-color: #F77F00;
    border: 10px solid #F77F00;
    border-radius: 30px;
    padding: 10px;
    color: white;
    font-size: 24px;
    margin-top: 10px;
    width: 800px;
    margin: 0 auto;


}

textarea {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}



.addpedido span {
    font-size: 25px;
    margin-right: 10px;
}

.addpedido button {

    margin: 10px auto;
    background-color: #F77F00;
    color: white;
    font-weight: bolder;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 10px;
}

.opcoes {
    justify-content: space-between;
    display: block;
    gap: 10px;
}

.opcão-delivery{
    display: flex;
    justify-content: center;
    gap: 100px;

}
.btn {
    background-color: black;
    color: white;
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
}

.btn1 {
    margin-bottom: 20px;
    background-color: black;
    color: white;
    margin-top: 15px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    cursor: pointer;
    display: block;
    height: 80px;
    margin-left: 80%;
    margin-right: auto;
}

.btn1:hover {
    background-color: #F77F00;
}

.tempo {
    color: white;
    font-size: 14px;
    margin: 10px 0;
}

/* FOOTER/RODAPÉ */
.footer-conteiner {
    background-color: rgb(50, 48, 48);
    color: rgb(255, 255, 255);
    padding: 20px 0px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    bottom: 0;


}

.logo-grande {
    width: 200px;
    height: 200px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    gap: 50px;
}

.redes-sociais .midia {
    gap: 40px;



}

.redes-sociais .midia img {
    height: 40px;
    width: 40px;
}